{% extends "layout.html" %}
{% block tittle %}Post list{% endblock %}


{% block body %}
    <a href="{% url 'blog:post_list' %}"><h1>Post List</h1></a>
    {% if tag %}
    	<p> search for tag : {{ tag.name }}</p>
    {% endif %} 
    <ul>
    
      {% for post in posts%}

      <li>
        <a href="{{post.get_abselute_url}}">
          <h2>{{post.author}} : {{post.title}}</h2>
        </a>
        
        <p>{{post.publish}}</p>
      
        {% for tag in post.tags.all %}
            <a style="color: chocolate" href="{% url 'blog:post_list_tag' tag.slug %}">
                 {{ tag.name }}
            </a>
        {% endfor %}

        
      </li>
      {% endfor %}
    </ul>

    {% include "pagination.html" with page=posts %}

{% endblock %}
  